<div class="container">
  <div class="card">
    <h1 class="text-center">Posts list</h1>
    <table class="tg">
      <tbody *ngFor="let post of postsSlice">
      <tr>
        <th>Post Title</th>
        <th colspan="2">Body</th>
      </tr>
      <tr>
        <td class="tg-0pky">{{post.title}}</td>
        <td class="tg-0pky" colspan="2">{{post.body}}</td>
      </tr>
      <tr>
        <th>Comment name</th>
        <th>Commentator Email</th>
        <th>Comment body</th>
      </tr>
      <tr *ngFor="let comment of getCommentsByPostId(post.id)">
        <td class="tg-0pky">{{comment.name}}</td>
        <td class="tg-0pky">{{comment.email}}</td>
        <td class="tg-0pky">{{comment.body}}</td>
      </tr>
      </tbody>
    </table>
    <div class="footer">
      <mat-paginator [length]="posts.length"
                     [pageSize]="20"
                     [pageSizeOptions]="[3,10,20,50]"
                     (page)="OnPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>

